<header role="banner" class="show">
    <nav role="navigation" class="show">
        <a href="/index.html" title="WebSlides">WebSlides</a>
        <ul>
            <li class="github">
                <a href="/index.html">ホーム</a>
            </li>
            <li class="github">
                <a href="/sample.html">サンプル</a>
            </li>
            <li class="github">
                <form method="POST" action="">
                    {% csrf_token %}
                    <input type="submit" name="deleteAll" value="クリア">
                </form>
            </li>
            <!--  <li class="dribbble"><a rel="external" href="http://dribbble.com/webslides" title="Dribbble"><svg class="fa-dribbble"><use xlink:href="#fa-dribbble"></use></svg> <em>webslides</em></a></li> -->
        </ul>
    </nav>
    <style>
        header[role='banner'] {
            opacity: 1;
            height: 4%;
        }
    </style>
</header>