<div class="col-md-4 col-sm-4  profile_details">
    <div class="well profile_view">
        <div class="col-sm-12" >
            <div class="left col-md-6 col-sm-6">
                <h2>{{ row.id }}</h2>
                <ul class="list-unstyled">
                    <li><i class="fa fa-building"></i> Post: {{ row.items_count }}</li>
                    <li><i class="fa fa-phone"></i> {{ row.name }} </li>
                </ul>
                <p class="ratings">
                    <a>4.0</a>
                    <a href="#"><span class="fa fa-star"></span></a>
                    <a href="#"><span class="fa fa-star"></span></a>
                    <a href="#"><span class="fa fa-star"></span></a>
                    <a href="#"><span class="fa fa-star"></span></a>
                    <a href="#"><span class="fa fa-star-o"></span></a>
                </p>
            </div>
            <div class="right col-md-6 col-sm-6 text-center">
                <img src="{{ row.profile_image_url }}" alt="" style="width: 80px;" class="img-circle img-fluid">
            <a href="https://qiita.com/{{ row.id }}">
                <button type="button" class="btn btn-primary btn-sm">
                    <i class="fa fa-user"> </i> View Profile
                </button>
            </a>
            </div>
        </div>
        <div class=" bottom text-center">
            <div class=" col-md-12 col-sm-12 emphasis">
                <p>{{ row.description }} </p>
            </div>
        </div>
    </div>
</div>