<!-- start project-detail sidebar -->
<div class="col-md-12 col-sm-3  ">
    <div class="x_panel">
        <section class="panel">
            <div class="x_title">
                <h2>広告</h2>
                <div class="clearfix"></div>
            </div>
            <div class="row">
                <amp-ad width="100vw" height="320"
                    type="adsense"
                    data-ad-client="ca-pub-6548366793980519"
                    data-ad-slot="9395471920"
                    data-auto-format="rspv"
                    data-full-width="">
                    <div overflow=""></div>
                </amp-ad>
            </div>
        </section>
    </div>
</div>
<!-- end project-detail sidebar -->