<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>


{% for row in qiita_comments %}
<div class="col-md-12 col-sm-3  ">
    <div class="x_panel">
        <div class="x_title">
            <h2>Qiitaトップランカー</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i
                            class="fa fa-wrench"></i></a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Settings 1</a>
                        <a class="dropdown-item" href="#">Settings 2</a>
                    </div>
                </li>
                <li><a class="close-link"><i class="fa fa-close"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="profile_title">
                <div class="col-md-1">
                    <img src="{{ row.user.profile_image_url }}" class="avatar" alt="Avatar"><br>
                </div>
                <div class="col-md-9">
                    <h2 style="overflow-x:hidden;">{{ row.title }}</h2>
                </div>
                <div class="col-sm-2">
                    <h2 style="overflow-x:hidden;">{{ row.likes_count }} 👍 </h2>
                </div>
            </div>

            <div class="" role="tabpanel" data-example-id="togglable-tabs">
                <div id="myTabContent" class="tab-content">
                    <div role="tabpanel" class="tab-pane active " id="tab_content1" aria-labelledby="home-tab">
                        <!-- start recent activity -->
                        <ul class="messages">
                            <h6 class="heading" style="word-wrap: break-word;">{{ row.user.name }}</h6>
                            <div id="content_{{ row.id }}" style="overflow-x: hidden; word-break: break-all;" class="img_width_100">{{ row.body }}</div>
                            <script>
                                document.getElementById('content_{{ row.id }}').innerHTML = marked.parse(document.getElementById('content_{{ row.id }}').innerHTML);
                            </script>
                            <p class="url">
                                <span class="fs1 text-info" aria-hidden="true" data-icon=""></span>
                                <a href="#"><i class="fa fa-paperclip"></i> {{ row.created_at }} </a>
                            </p>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}

<style>
    .longurl{}
    p img {
        max-width: 100%;
    }
</style>

<style>
    /*
    .original_styles>h1 {
        font-size: 2em;
    }
    */
</style>