    <div class="x_panel">
        <div class="x_title">
            <h2>採用企業一覧 <small><a href=""></a></small></h2>
            <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i
                            class="fa fa-wrench"></i></a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Settings 1</a>
                        <a class="dropdown-item" href="#">Settings 2</a>
                    </div>
                </li>
                <li><a class="close-link"><i class="fa fa-close"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>

        <div class="outside">
            {% for job in jobs %}
            {% if job.company %}
            <a href="{{ job.url }}">
                <div class="mail_list">
                    <div class="left">
                        <i class="fa fa-circle"></i> <i class="fa fa-edit"></i>
                    </div>
                    <div class="right">
                        <h3>{{ job.company }}</h3>
                        <p>
                            {{ job.salary }}
                        </p>
                    </div>
                </div>
            </a>
            {% endif %}
            {% endfor %}
        </div>
        <style>
            .outside {
                height: 360px;
                overflow-y: scroll;
            }
        </style>
    </div>
