<div class="x_panel">
  <div class="x_title">
    <h2>比較対象を選ぶ</h2>
    <ul class="nav navbar-right panel_toolbox">
      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i
            class="fa fa-wrench"></i></a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Settings 1</a>
          <a class="dropdown-item" href="#">Settings 2</a>
        </div>
      </li>
      <li><a class="close-link"><i class="fa fa-close"></i></a>
      </li>
    </ul>
    <div class="clearfix"></div>
  </div>
  <form action="/compare.html">
    <div class="x_content" >
      {% for compare_stage in compare_list %}
      <a href="{{ compare_stage.link }}">
        <div class="row x_title">
          <div class="col-md-12">
            <h3>
              {{ compare_stage.title }}
              <!--
                            <small>  ー {{ name }}</small>
                        -->
            </h3>
          </div>
        </div>

        <div class="col-md-12 col-sm-12 ">
          {% for row in compare_stage.param %}
          <div class="col-md-2 col-sm-12 ">
            {{ row.name }} :{{ row.stars }}
          </div>
          <div class="col-md-10 col-sm-12 ">
            {{ row.explain }}
          </div>
          <br>
          {% endfor %}

        </div>
      </a>
      {% endfor %}

    </div>


  </form>


</div>