<div class="col-md-{{ col_md_num }} col-sm-4  ">
    <a href="{{ job.url }}" target=”_blank”>
        <hr>
        <div class="panel-body">
            <!---
    <h3 class="green"><i class="fa fa-paint-brush"></i> Gentle</h3>
    -->
            <div class="project_detail" style="height: 70px;">
                {% if job.company %}
                <p class="title">会社名</p>
                <h5>{{ job.company }}</h5>
                {% else %}
                <p class="title">募集事項</p>
                <h5>{{ job.title|slice:":20" }}</h5>
                {% endif %}
            </div>
            <br />
            <div class="project_detail">
            <p class="title">詳細</p>
        </div>
            <ul class="list-unstyled project_files">
                <li><a href="{{ job.url }}" target=”_blank”><i class="fa fa-file-word-o"></i> {{ job.locations }}</a>
                </li>
                <li><a href="{{ job.url }}" target=”_blank”><i class="fa fa-file-pdf-o"></i> {{ job.salary }}</a>
                </li>
                <li><a href="{{ job.url }}" target=”_blank”><i class="fa fa-mail-forward"></i> {{ job.salary_min }}</a>
                </li>
                <li><a href="{{ job.url }}" target=”_blank”><i class="fa fa-picture-o"></i> {{ job.salary_max }}</a>
                </li>
                <li><a href="{{ job.url }}" target=”_blank”><i class="fa fa-file-word-o"></i> {{ job.date }}</a>
                </li>
            </ul>

            <br />

            <div class="project_detail" style="height: 50px;">
                {% if job.company %}
                {% if job.title %}
                <p class="title">タイトル</p>
                <p>{{ job.title|slice:":20"}} </p>
                {% endif %}
                {% endif %}
            </div>
            <div class="project_detail">
                <p class="title">概要</p>
            </div>
            <div class="project_detail" style="height: 150px; overflow-y: scroll;">

                <p>{{ job.description|safe}} </p>
            </div>
            <br />
            <div class="text-center mtop20">
                <a href="{{ job.url }}" class="btn btn-sm btn-primary" target=”_blank”>応募する</a>
                <a href="{{ job.url }}" class="btn btn-sm btn-warning" target=”_blank”>詳しくみる</a>
            </div>
        </div>
    </a>
</div>