<!-- start project-detail sidebar -->
    <div class="x_panel">
        <section class="panel">
            <div class="x_title">
                <h2>プロジェクト一覧</h2>
                <div class="clearfix"></div>
            </div>
            <div class="row">
                {% for job in jobs|slice:":3" %}
                {% include 'jobstatic_parts/job_row.html' with col_md_num='12' %}
                {% endfor %}
            </div>
        </section>
    </div>
<!-- end project-detail sidebar -->