<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>



<div class="col-md-12 col-sm-3  ">
    <div class="x_panel">
        <div class="x_title">
            <h2>コメント投稿</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i
                            class="fa fa-wrench"></i></a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Settings 1</a>
                        <a class="dropdown-item" href="#">Settings 2</a>
                    </div>
                </li>
                <li><a class="close-link"><i class="fa fa-close"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <form id="demo-form2" method="POST" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">
            {% csrf_token %}
                <div class="item form-group">
                    <label class="col-form-label col-md-2 col-sm-2 label-align" for="first-name">タイトル <span
                            class="required">*</span>
                    </label>
                    <div class="col-md-10 col-sm-12 ">
                        <input type="text" id="first-name" required="true" class="form-control"  name="title" id="title" required>
                    </div>
                </div>
                
                <!--
                <div class="item form-group">
                    <label class="col-form-label col-md-2 col-sm-2 label-align">好き?嫌い?</label>
                    <div class="col-md-10 col-sm-12 ">
                        <div id="gender" class="btn-group" data-toggle="buttons">
                            <label class="btn btn-primary" data-toggle-class="btn-primary"
                                data-toggle-passive-class="btn-default">
                                <input type="radio" name="gender" value="male" class="join-btn"
                                    data-parsley-multiple="gender"> &nbsp; 好き! &nbsp;
                            </label>
                            <label class="btn btn-secondary" data-toggle-class="btn-primary"
                                data-toggle-passive-class="btn-default">
                                <input type="radio" name="gender" value="female" class="join-btn"
                                    data-parsley-multiple="gender"> 嫌い...
                            </label>
                        </div>
                    </div>
                </div>
                -->

                <div class="item form-group">
                    <label class="col-form-label col-md-2 col-sm-2 label-align">投稿(マークダウン) <span
                            class="required">*</span>
                    </label>
                    <div class="col-md-10 col-sm-12 ">
                        <textarea id="markdown_message" required="true" class="form-control" name="markdown_message" rows="8" data-parsley-trigger="keyup" data-parsley-minlength="20" data-parsley-maxlength="100" data-parsley-minlength-message="Come on! You need to enter at least a 20 caracters long comment.." data-parsley-validation-threshold="10" required></textarea>
                    </div>
                </div>

                <div class="item form-group">
                    <label class="col-form-label col-md-2 col-sm-2 label-align"><span
                        class="required">*</span>
                    </label>
                    <div class="col-md-2 col-sm-6 offset-md-3">
                        <button type="submit" class="btn btn-success">Submit</button>
                        <input type="hidden" name="active_post_comment" value="true">
                    </div>
                </div>
            </form>

            <div class="" role="tabpanel" data-example-id="togglable-tabs">
                <div id="myTabContent" class="tab-content">
                    <div role="tabpanel" class="tab-pane active " id="tab_content1" aria-labelledby="home-tab">
                        <!-- start recent activity -->
                        <ul class="messages">
                            <h6 class="heading" style="word-wrap: break-word;">{{ row.user.name }}</h6>
                            <div id="content_{{ row.id }}" style="overflow-x: hidden; word-break: break-all;"
                                class="img_width_100">{{ row.body }}</div>
                            <script>
                                document.getElementById('content_{{ row.id }}').innerHTML = marked.parse(document.getElementById('content_{{ row.id }}').innerHTML);
                            </script>
                            <p class="url">
                                <span class="fs1 text-info" aria-hidden="true" data-icon=""></span>
                                <a href="#"><i class="fa fa-paperclip"></i> {{ row.created_at }} </a>
                            </p>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<style>
    .longurl {}

    p img {
        max-width: 100%;
    }
</style>

<style>
    /*
    .original_styles>h1 {
        font-size: 2em;
    }
    */
</style>


