{% extends 'parts/normalflame.html' %}

{% block bodyblock %}

<section>
    <div class="wrap">
        <h3>どれくらい怒ってる？🙇‍♂️</h3>
        <ul class="flexblock steps">
            <!-- li>a? Add blink = <ul class="flexblock steps blink">-->
                
            <li>
                <a href="./page/oko.html">
                <span>
                    <svg class="fa-heartbeat">
                        <use xlink:href="#fa-heartbeat"></use>
                    </svg>
                </span>
                <h2>01. おこ</h2>
                <p>ex)打刻ミスした時。</p>
                </a>
            </li>
                
            <li>
                <a href="./page/gekioko.html">
                <span>
                    <svg class="fa-magic">
                        <use xlink:href="#fa-magic"></use>
                    </svg>
                </span>
                <h2>02. 激おこ</h2>
                <p>
                    ex)寝坊した時。
                </p>
                </a>
            </li>
            <li>
                <div class="process step-3"></div>
                <span>
                    <svg class="fa-balance-scale">
                        <use xlink:href="#fa-balance-scale"></use>
                    </svg>
                </span>
                <h2>03. 激おこぷんぷん丸</h2>
                <p>
                    ex)居眠りしてしまった時。
                </p>
            </li>
            <li>
                <div class="process step-4"></div>
                <span>
                    <svg class="fa-cog">
                        <use xlink:href="#fa-cog"></use>
                    </svg>
                </span>
                <h2>04. ムカ着火ファイヤー</h2>
                <ul>
                    <li>ノーマル</li>
                    <li>インフェルノォォオゥ</li>
                    <li>ファイナリアリティ<br>ぷんぷんドリーム</li>

                </ul>
            </li>
        </ul>
    </div>
    <!-- .end .wrap -->
</section>

{% endblock %}