<div class="ClapLv1TextBlock_Chie-TextBlock__3X4V5">
    <p style="width:576px"
        class="yjSlinkDirectlink ClapLv1TextBlock_Chie-TextBlock__Text__1jsQC ClapLv1TextBlock_Chie-TextBlock__Text--medium__3nLu4 ClapLv1TextBlock_Chie-TextBlock__Text--SpaceOut__3kF8R ClapLv1TextBlock_Chie-TextBlock__Text--preLine__2SRma">
        人の精神は、１つなんですか？

        脳が<a class="yjSlinkDirectlinkHl" data-query="CPU" rel="noopener"
            href="https://search.yahoo.co.jp/search?ei=UTF-8&amp;rkf=1&amp;slfr=1&amp;p=CPU&amp;fr=link_kw_cbr_direct"
            target="_blank" style="cursor: pointer;">ＣＰＵ</a>なら、精神はＯＳですか？
    </p>
</div>



