
{% extends 'parts/base.html' %}


{% block mainblock %}

<head>
    <title>
        duel masters
    </title>
</head>




<section>
    <!--.wrap = container (width: 90%) -->
    <div class="wrap">
        <div class="grid vertical-align">
                <div class="column">
                    <h3><strong>「この世の果てで、また会いましょう。だから、今は笑って」</strong></h3>
                <p>
                    雪渓妖精マルル
                </p>
            </div>
            <!-- .end .column -->
            <div class="column">
                <img style="size: 50%;" src="https://cdn-ak.f.st-hatena.com/images/fotolife/a/amamitako3/20161210/20161210195801.jpg">
            </div>
            <!-- .end .column -->



        </div>
        <!-- .end .grid -->
    </div>


    <!-- .end .wrap -->
</section>

{% endblock %}