
<html lang="en" prefix="og: http://ogp.me/ns#">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- SEO -->
  <title>{{ title }}</title>
  <meta name="description" content="{{ description }}">
  <link rel="icon" type="image/x-icon" href="{{ favicon }}">


  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-B6Y7NSQNF5"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-B6Y7NSQNF5');
  </script>


  <!-- URL CANONICAL -->
  <link rel="canonical" href="https://webslides.tv/demos/keynote">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,700,700i%7CMaitree:200,300,400,600,700&amp;subset=latin-ext"
    rel="stylesheet">

  <!-- CSS Base + Colors -->

  <link rel="stylesheet" type="text/css" media="all" href="/static/engineer/css/downheader.css">
  <link rel="stylesheet" type="text/css" media="all" href="/static/engineer/css/webslides.css">

  <!-- Optional - CSS SVG Icons (Font Awesome) -->
  <link rel="stylesheet" type="text/css" media="all" href="/static/engineer/css/svg-icons.css">

  <!-- SOCIAL CARDS -->

  <!-- FACEBOOK -->
  <meta property="fb:app_id" content="293222087723772">
  <meta property="og:url" content="http://apologagent.short-tips.info/index.html">
  <meta property="og:type" content="article">
  <meta property="og:title" content="{{ title }}">
  <meta property="og:description"
    content="{{ description }}">
  <meta property="og:updated_time" content="2017-01-04T17:32:14">
  <meta property="og:image" content="https://webslides.tv/static/engineer/images/share-keynote.jpg">
  <meta property="og:image:width" content="800">
  <meta property="og:image:height" content="429">

  <!-- TWITTER -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@se_maintain">
  <meta name="twitter:creator" content="@se_maintain">
  <meta name="twitter:title" content="{{ title }}">
  <meta name="twitter:description"
    content="{{ description }}">
  <meta name="twitter:image" content="{{ img }}">

  <!-- Android -->
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="theme-color" content="#333333">
</head>

{% block bodyblock %}
{% endblock %}
</html>
