{% extends "oversea_it/base/parts/base.html" %}

{% block mainblock %}

<!--▼ヘッダー下-->
<div id="head_under" class="gridContainer clearfix">

    <!--▼メインセクション-->
    <div class="main_section">
        <!--▽リード-->
        <div class="read_L">
            <div class="read_TXT">2015.6.10</div>
        </div>
        <!--△リード-->

        <div id="page_cont" style=" margin-top:3%">

            <!--タイトル ▶-->
            <div class="single-page_title">
                <h1>
                    {{ title }}
                </h1>
            </div>
            <!--◀ タイトル-->


            <div class="page_comment">
                <!--▼コンテンツ-->
                {{ htmltext|safe }}





                <h2>関連記事</h2>
                <!--▽テーブル-->
                <table summary="会社案内表">
                    {% for page in pop_page_list %}
                    <tr>
                        <td>
                            <a href="/{{ page.category }}/{{ page.htmlname }}">
                                {{ page.title }}
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
                <!--△テーブル-->

                <!---
                <h2>人気記事一覧</h2>
                {% for page in pop_page_list %}
                <div class="MOV_thumb_box">
                    <div class="mov_thumb MOV_BOX_res">
                        <a width="100%" href="/{{ page.category }}/{{ page.htmlname }}">
                            <img src="{{ page.img }}">
                        </a>
                    </div>
                    <div class="mov_title"><a href="/{{ page.category }}/{{ page.htmlname }}">{{ page.title }}</a></div>

                    <br>
                </div>

                {% endfor %}
            -->
                <br><br>
                <br>
                <!---
                <h2>人気記事一覧</h2>
                <div class="grid">
                    {% for page in pop_page_list %}
                    <a href="/{{ page.category }}/{{ page.htmlname }}">
                        <img class="img_tag" src="{{ page.img }}">
                    </a>
                    {% endfor %}
                </div>
                <style>
                    .gird {
                        display: grid;
                        width: 100%;
                    }

                    .img_tag {
                        width: 48%;
                    }
                </style>

            -->
            </div>


            <!--▲コンテンツ-->
        </div>

    </div>

<!--▲メインセクション-->
{% include "oversea_it/base/parts/side_menue.html" %}

<div class="clear" style="height:50px;"></div>
</div>

<!--▲ヘッダー下-->


{% endblock %}