<!DOCTYPE html>
<html lang="en">


<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <!-- Meta, title, CSS, favicons, etc. -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://raw.githubusercontent.com/kawadasatoshi/minegishirei/main/img/beaver.png" rel="icon">

  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6548366793980519"
    crossorigin="anonymous"></script>
  <script async custom-element="amp-ad" src="https://cdn.ampproject.org/v0/amp-ad-0.1.js"></script>

  <!-- TWITTER -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@se_maintain">
  <meta name="twitter:creator" content="@se_maintain">
  <meta name="twitter:title" content="{{ title }}">
  <meta name="twitter:description" content="{{ description }}">
  {% if img %}
  <meta name="twitter:image" content="{{ img }}">
  {% else %}
  <meta name="twitter:image"
    content="https://question.short-tips.info/api/ogp/?text={{ name }}...score {{ stars }} {{ total_score }} ......平均下限年収 : {{ basic.money }}万円...平均上限年収 : {{ basic.overtime }}万円...総求人数 : {{ basic.count }}件...リモート率 : {{ basic.remote }}％...Qiitaタグ数 : {{ basic.qiita_score }}件 .........{{ title }}">
  {% endif %}
  <title>{{ title }}</title>
  <meta name="description" content="{{ description }}">
  <!-- Bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <!-- Font Awesome -->
  <link href="/static/jobstatic/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <!-- NProgress -->
  <link href="/static/jobstatic/vendors/nprogress/nprogress.css" rel="stylesheet">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <!-- bootstrap-progressbar -->
  <link href="/static/jobstatic/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
  <!-- JQVMap -->
  <link href="/static/jobstatic/vendors/jqvmap/dist/jqvmap.min.css" rel="stylesheet" />
  <!-- bootstrap-daterangepicker -->
  <link href="/static/jobstatic/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">

  <!-- Custom Theme Style -->
  <link href="/static/jobstatic/build/css/custom.min.css" rel="stylesheet">

  {% include "parts/analytics.html" %}
</head>


<body class="login">
  <div>
    <a class="hiddenanchor" id="signup"></a>
    <a class="hiddenanchor" id="signin"></a>

    <div class="login_wrapper">
      <div class="animate form login_form">
        <section class="login_content">
          <form method="POST">
            {% csrf_token %}
            <h1>Login Form</h1>
            <div>
              <input type="email" class="form-control" placeholder="メールアドレス" required="" name="e_mail"/>
            </div>
            <div>
              <input type="password" class="form-control" placeholder="パスワード" required="" name="unhashed_password"/>
            </div>
            <div>
              <input type="hidden" name="login_acount">
            </div>
            <div>
              <input type="submit" class="btn btn-default submit" value="Login">
            </div>


            <div class="clearfix"></div>

            <div class="separator">

              <div class="clearfix"></div>
              <br />
            </div>
          </form>
        </section>

        <section class="login_content">
          {% if error_message %}
            <script>
              window.alert("{{ error_message }}")
            </script>
          {% endif %}
          <form method="POST" action="">
            {% csrf_token %}
            <h1>アカウント作成</h1>
            <div>
              <input type="email" class="form-control" placeholder="メールアドレス" required="true" name="e_mail"/>
            </div>
            <div>
              <input type="text" class="form-control" placeholder="ユーザー名" required="true" name="username"/>
            </div>
            <div>
              <input type="password" class="form-control" placeholder="パスワード" required="true" name="unhashed_password"/>
            </div>
            <div>
              <input type="hidden" class="form-control" required="" name="create_acount" id="create_acount"/>
            </div>
            <div>
              <input type="submit" class="btn btn-default submit">
            </div>

            <div class="clearfix"></div>

            <div class="separator">

              <div class="clearfix"></div>
              <br />

              <div>
                <h1><i class="fa fa-paw"></i> {{ title }}</h1>
                <p>{{ description }}</p>
              </div>
            </div>
          </form>
        </section>

        <section class="login_content">
          <form method="POST" action="">
            {% csrf_token %}
            <h1>Logout</h1>
            <div>
              <input type="hidden" class="form-control" required="" name="logout_acount" id="logout_acount"/>
            </div>
            <div>
              <input type="submit" class="btn btn-default submit">
            </div>

            <div class="clearfix"></div>

            <div class="separator">

              <div class="clearfix"></div>
              <br />

              <div>
                <h1><i class="fa fa-paw"></i> {{ title }}</h1>
                <p>{{ description }}</p>
              </div>
            </div>
          </form>
        </section>

      </div>
    </div>
  </div>
</body>

</html>