{% extends "jobstatic_template/template.html" %}


{% block content %}




<!-- page content -->
<div role="main" class="main_contents">
  <div class="">

    <!---->
    <div class="x_panel" style="padding-left: 0px; padding-right: 0px; overflow-x: hidden">
    
        <!-- top tiles -->
        <div class="row" style="display: inline-block;">
          {% include 'jobstatic_parts/top.html' %}
        </div>


        <ul class="nav nav-tabs bar_tabs" id="myTab" role="tablist">
          {% if request.GET.active %}
          <li class="nav-item">
            <a class="nav-link" id="home-tab" data-toggle="tab" href="./{{ name }}" role="tab" aria-controls="home"
              aria-selected="true">トップ</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="./{{ name }}?" role="tab"
              aria-controls="home" aria-selected="true">トップ</a>
          </li>
          {% endif %}

          {% if request.GET.active == "jobs" %}
          <li class="nav-item">
            <a class="nav-link active" id="profile-tab" data-toggle="tab" href="./{{ name }}?active=jobs" role="tab"
              aria-controls="profile" aria-selected="false">求人票</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="./{{ name }}?active=jobs" role="tab"
              aria-controls="profile" aria-selected="false">求人票</a>
          </li>
          {% endif %}


          {% if request.GET.active == "comments" %}
          <li class="nav-item">
            <a class="nav-link active" id="contact-tab" data-toggle="tab" href="./{{ name }}?active=comments" role="tab"
              aria-controls="contact" aria-selected="false">口コミ</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" id="contact-tab" data-toggle="tab" href="./{{ name }}?active=comments" role="tab"
              aria-controls="contact" aria-selected="false">口コミ</a>
          </li>
          {% endif %}

          {% if request.GET.active == "post_comment" %}
          <li class="nav-item">
            <a class="nav-link active" id="contact-tab" data-toggle="tab" href="./{{ name }}?active=post_comment" role="tab"
              aria-controls="contact" aria-selected="false">投稿</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" id="contact-tab" data-toggle="tab" href="./{{ name }}?active=post_comment" role="tab"
              aria-controls="contact" aria-selected="false">投稿</a>
          </li>
          {% endif %}

          {% if request.GET.active == "compare" %}
          <li class="nav-item">
            <a class="nav-link active" id="contact-tab" data-toggle="tab" href="./{{ name }}?active=compare" role="tab"
              aria-controls="contact" aria-selected="false">比較する</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" id="contact-tab" data-toggle="tab" href="./{{ name }}?active=compare" role="tab"
              aria-controls="contact" aria-selected="false">比較する</a>
          </li>
          {% endif %}

        </ul>
        <div class="tab-content" id="myTabContent">
          {% if request.GET.active == "jobs" %}
          <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <div class="row">
              {% include "jobstatic_parts/jobs_v2.html" %}
            </div>
            <!--
            -->
          </div>
          {% elif request.GET.active == "comments" %}
          <div class="tab-pane fade show active" id="contact" role="tabpanel" aria-labelledby="contact-tab">
            <div class="row">
              <div class="col-md-12 col-sm-12 ">
                {% include "jobstatic_parts/acounts.html" %}
                {% include "jobstatic_parts/comments_v2.html" %}
              </div>
            </div>
          </div>
          {% elif request.GET.active == "post_comment" %}
          <div class="tab-pane fade show active" id="contact" role="tabpanel" aria-labelledby="contact-tab">
            <div class="row">
              <div class="col-md-12 col-sm-12 ">
                {% include "jobstatic_parts/post_comment.html" %}
              </div>
            </div>
          </div>
          {% elif request.GET.active == "compare" %}
          <div class="tab-pane fade show active" id="contact" role="tabpanel" aria-labelledby="contact-tab">
            <div class="row">
              <div class="col-md-12 col-sm-12 ">
                {% include "jobstatic_parts/compare_candidates.html" %}
              </div>
            </div>
          </div>
                   
          {% else %}
          <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <div>
              <div class="row">
                <div class="col-md-8 col-sm-12 ">
                  {% include 'jobstatic_parts/scores.html' %}
                  {% include "jobstatic_parts/money_list.html" %}
                  {% include "jobstatic_parts/user_comments.html" %}
                  {% include "jobstatic_parts/acounts.html" %}
                  {% include "jobstatic_parts/comments_v2.html" %}
                  {% include "jobstatic_parts/ad.html" %}
                </div>
                <div class="col-md-4">
                  {% include "jobstatic_parts/others.html" %}
                  {% include "jobstatic_parts/companys.html" %}
                  {% include "jobstatic_parts/jobs_top3.html" %}
                </div>
              </div>
              <div class="row">
                <div class="col-md-8 col-sm-8  ">
                </div>
                <div class="col-sm-4 ">
                </div>
              </div>
              <div class="row">
                <div class="col-md-8 col-sm-8 ">

                </div>
              </div>
              <div class="row">
                <div class="col-md-4 col-sm-4 ">
                </div>
              </div>
            </div>
          </div>
          {% endif %}
      </div>
    
    </div>
    
  </div>



</div>
<!-- /page content -->


{% endblock %}