{% extends "jobstatic_template/template.html" %}


{% block content %}


<div class="" style="background-color: white;">
    <div class="x_panel" style="padding-left: 0px; padding-right: 0px; overflow-x: hidden">

        <div class="row">
            <div class="col-md-12 col-sm-12  ">

                <div class="x_content">
                    <div class="row">

                        <div class="col-md-3 col-sm-12  ">
                            <div class="pricing">
                                <a href="/">
                                    <div class="title">
                                        <h1> 👑 総合ランキング</h1>
                                        <span>Monthly</span>
                                    </div>
                                    <div class="x_content">
                                        <div class="">
                                            <div class="pricing_features">
                                                <ul class="list-unstyled text-left">
                                                    <li><i class="fa fa-check text-success"></i>
                                                        言語/フレームワークを
                                                        <strong>5項目の観点から</strong>分析しランキング付けします
                                                    </li>
                                                    <li><i class="fa fa-check text-success"></i>
                                                        特定の項目だけでなく
                                                        <strong>さまざまな観点から分析するため隔たりないランキング付けが可能です。</strong>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="pricing_footer">
                                            <a href="javascript:void(0);" class="btn btn-success btn-block"
                                                role="button">総合ランキングを見る</a>
                                            <p>
                                                <a href="javascript:void(0);">Sign up</a>
                                            </p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>


                        <div class="col-md-3 col-sm-6  ">
                            <div class="pricing ui-ribbon-container">
                                <a href="/ranking.html">
                                    <div class="ui-ribbon-wrapper">
                                        <div class="ui-ribbon">
                                            New!
                                        </div>
                                    </div>
                                    <div class="title">
                                        <h1> 💰 年収ランキング</h1>
                                        <span>Monthly</span>
                                    </div>
                                    <div class="x_content">
                                        <div class="">
                                            <div class="pricing_features">
                                                <ul class="list-unstyled text-left">
                                                    <li><i class="fa fa-check text-success"></i>
                                                        言語/フレームワークを
                                                        <strong>年収のみで</strong>分析しランキング付けします
                                                    </li>
                                                    <li><i class="fa fa-check text-success"></i>
                                                        年収以外の構成要素が存在しないため
                                                        <strong>明確な基準でランキング付けできます</strong>
                                                    </li>

                                                </ul>
                                            </div>
                                        </div>
                                        <div class="pricing_footer">
                                            <a href="/ranking.html" class="btn btn-success btn-block"
                                                role="button">年収ランキングを見る</a>
                                            <p>
                                                <a href="/ranking.html">探す</a>
                                            </p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6  ">
                            <div class="pricing">

                                <a href="https://twitter.com/se_maintain">
                                    <div class="title">
                                        <h1> 🐦 お問い合わせ</h1>
                                        <span>Monthly</span>
                                    </div>
                                    <div class="x_content">
                                        <div class="">
                                            <div class="pricing_features">
                                                <ul class="list-unstyled text-left">
                                                    <li><i class="fa fa-check text-success"></i>
                                                        開発者へのお問い合わせはTwitterのDMにて承っております。
                                                    </li>
                                                    <li><i class="fa fa-check text-success"></i>
                                                        どんな些細な提案でも承ります。ご意見、ご要望お待ちしております。
                                                    </li>

                                                </ul>
                                            </div>
                                        </div>
                                        <div class="pricing_footer">
                                            <a href="https://twitter.com/se_maintain"" class=" btn btn-success
                                                btn-block" role="button">お問い合わせをする</a>
                                            <p>
                                                <a href="https://twitter.com/se_maintain">Sign up</a>
                                            </p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>


                        <div class="col-md-3 col-sm-6  ">
                            <div class="pricing">
                                <a href="https://pm.short-tips.info/who/flamevalue.md">
                                    <div class="title">
                                        <h1> ❓ FrameValueとは</h1>
                                        <span>Monthly</span>
                                    </div>
                                    <div class="x_content">
                                        <div class="">
                                            <div class="pricing_features">
                                                <ul class="list-unstyled text-left">
                                                    <li><i class="fa fa-check text-success"></i>
                                                        本サイトの概要説明です。Flamevalueの概要から使い方と見るべき点について解説しました。
                                                    </li>

                                                    <li><i class="fa fa-check text-success"></i>
                                                        また、今後のアップデート情報やシステムの構成要素についても記述してます。
                                                    </li>

                                                </ul>
                                            </div>
                                        </div>
                                        <div class="pricing_footer">
                                            <a href="https://pm.short-tips.info/who/flamevalue.md"
                                                class="btn btn-success btn-block" role="button"> FrameValueについて知る</a>
                                            <p>
                                                <a href="javascript:void(0);">Sign up</a>
                                            </p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>


    </div>
</div>

{% endblock %}