
{% extends 'parts/base.html' %}

{% block headblock %}
<title>
    {{ title }}
</title>
{% endblock %}


{% block headerblock %}
{% include "parts/header/header.html" %}
{% endblock %}



{% block mainblock %}










<div class="column">

    <p>主軸</p>
    <ul>
        <li class="down_shadow thumbnail item ">
            <pre id="dropbox" ondragover="f_dragover(event)" ondrop="f_drop(event)"></pre>
        </li>
        <li class="down_shadow thumbnail item ">
            <pre id="dropbox" ondragover="f_dragover(event)" ondrop="f_drop(event)"></pre>
        </li>
        <li class="down_shadow thumbnail item ">
            <pre id="dropbox" ondragover="f_dragover(event)" ondrop="f_drop(event)"></pre>
        </li>
        <li class="down_shadow thumbnail item ">
            <pre id="dropbox" ondragover="f_dragover(event)" ondrop="f_drop(event)"></pre>
        </li>
        <li class="down_shadow thumbnail item ">
            <pre id="dropbox" ondragover="f_dragover(event)" ondrop="f_drop(event)"></pre>
        </li>
        <li class="down_shadow thumbnail item ">
            <pre id="dropbox" ondragover="f_dragover(event)" ondrop="f_drop(event)"></pre>
        </li>
        <li class="down_shadow thumbnail item ">
            <pre id="dropbox" ondragover="f_dragover(event)" ondrop="f_drop(event)"></pre>
        </li>
        <li class="down_shadow thumbnail item ">
            <pre id="dropbox" ondragover="f_dragover(event)" ondrop="f_drop(event)"></pre>
        </li>
        <li class="down_shadow thumbnail item ">
            <pre id="dropbox" ondragover="f_dragover(event)" ondrop="f_drop(event)"></pre>
        </li>
        <li class="down_shadow thumbnail item ">
            <pre id="dropbox" ondragover="f_dragover(event)" ondrop="f_drop(event)"></pre>
        </li>
        <li class="down_shadow thumbnail item ">
            <pre id="dropbox" ondragover="f_dragover(event)" ondrop="f_drop(event)"></pre>
        </li>
        <li class="down_shadow thumbnail item ">
            <pre id="dropbox" ondragover="f_dragover(event)" ondrop="f_drop(event)"></pre>
        </li>
        <li class="down_shadow thumbnail item ">
            <pre id="dropbox" ondragover="f_dragover(event)" ondrop="f_drop(event)"></pre>
        </li>
    </ul>

</div>







<div class="column">

    <h3>index</h3>


    <ul>
        <div id="fruits" ondragover="f_dragover(event)" ondrop="f_drop(event)">
        {% for litag in lilist %}
        <li class="down_shadow thumbnail item ">
            <a rel="external" href="./{{ litag.title }}" title="Github">
                <img class="thumbnail" src="{{ litag.img }}" id="{{ litag.title }}" draggable="true" ondragstart="f_dragstart(event)">
                <div class="titlecentor row2">
                    
                        {{ litag.title }}
                    
                </div>
            </a>
        </li>
        {% endfor %}
        </div>

    </ul>






    <style>
        #dropbox {
          /*単なるスタイリング*/
          width:200px; height:200px; 
          /*以下はwebkit系ブラウザでドラッグ＆ドロップを動かすための指定（ブラウザのサポートが進めば、必要なくなると思われます）*/
          -khtml-user-drag: element;
        }
        </style>
        <script>
        /***** ドラッグ開始時の処理 *****/
        function f_dragstart(event){
          //ドラッグするデータのid名をDataTransferオブジェクトにセット
          event.dataTransfer.setData("text", event.target.id);
        }
        
        /***** ドラッグ要素がドロップ要素に重なっている間の処理 *****/
        function f_dragover(event){
          //dragoverイベントをキャンセルして、ドロップ先の要素がドロップを受け付けるようにする
          event.preventDefault();
        }
        
        /***** ドロップ時の処理 *****/
        function f_drop(event){
          //ドラッグされたデータのid名をDataTransferオブジェクトから取得
          var id_name = event.dataTransfer.getData("text");
          //id名からドラッグされた要素を取得
          var drag_elm =document.getElementById(id_name);

          var clone = drag_elm.cloneNode()
          //ドロップ先にドラッグされた要素を追加
          event.currentTarget.appendChild(clone);
          //エラー回避のため、ドロップ処理の最後にdropイベントをキャンセルしておく
          event.preventDefault();
        }


        </script>

        










</div>
     <style>
    
    .row2 {
        height: 2em;
    }
.footnav{
    padding-top: 20px;
    opacity: 0;
}


.footnav {
    display: flex;
    background-color: rgba(0, 0, 0, 0);
    opacity: 1;
}
.footnav:hover {
    z-index: 5;
	-webkit-transition: 0.5s ease-in-out;
	-moz-transition: 0.5s ease-in-out;
	-o-transition: 0.5s ease-in-out;
	transition: 0.5s ease-in-out;
    opacity: 1;
    background: rgba(70, 69, 69, 0);
}
.horizontal-list {
  overflow-x: auto;
  white-space: nowrap;
  display: inline-block;
}

.item {
    vertical-align: top;
  /* 横スクロール用 */
  display: inline-block;
  width: 200px;
  height: 200px;
}
img.thumbnail {
    padding-left: 3px;
    padding-right: 3px;
    width: 200px;
    height: 130px;
object-fit: cover; /* この一行を追加するだけ！ */
}


.down_shadow {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(128, 128, 128, 0.1) ;
    /*アニメーションの設定*/
    opacity: 0.8;
    transition: all .3s;
}

/*hoverをしたらボックスの影が拡がり色が濃くなる*/
.down_shadow:hover {
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5), 0 0 50px rgba(128, 128, 128, 0.1) ;
    opacity: 0.8;
    border-color: transparent;
}

 
     </style>

{% endblock %}