{% extends 'oreilly/parts/base.html' %}

{% block main_block %}

<main class="" id="main-collapse">


  <div class="row">
    <div class="col-xs-12 col-md-8">
      <div class="section-container-spacer">
        <h2>{{ title }}</h2>
      </div>

      <div class="section-container-spacer">
        <p><img class="img-responsive" alt="" src="{{ img }}"></p>
      </div>

      <div class="section-container-spacer">
        <p>
          {{ description }}
        </p>
      </div>


      <p> Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>

  </div>
  <h3>関連書籍</h3>

  <div class="footnav">

    <ul class="horizontal-list">
      {% for litag in all_relation %}
      <li class="down_shadow thumbnail item ">
        <a href="./{{ litag.book_id }}">
          <img class="thumbnail" src="{{ litag.img }}" alt="{{ litag.title }}">
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>





  <style>
    .thumbnailtitle {
      width: 200px;
      overflow-wrap: break-word;
    }

    .footnav {
      padding-top: 20px;
      opacity: 0;
    }


    .footnav {
      display: flex;
      background-color: rgba(0, 0, 0, 0);
      opacity: 1;
    }

    .footnav:hover {
      z-index: 5;
      -webkit-transition: 0.5s ease-in-out;
      -moz-transition: 0.5s ease-in-out;
      -o-transition: 0.5s ease-in-out;
      transition: 0.5s ease-in-out;
      opacity: 1;
      background: rgba(70, 69, 69, 0);
    }

    .horizontal-list {
      height: 260px;
      scroll-behavior: smooth;
      overflow-x: auto;
      white-space: nowrap;
      display: inline-block;
      -ms-overflow-style: none;
      /* IE, Edge 対応 */
      scrollbar-width: none;
      /* Firefox 対応 */
    }

    .horizontal-list::-webkit-scrollbar {
      /* Chrome, Safari 対応 */
      display: none;
    }

    .item {
      /* 横スクロール用 */
      display: inline-block;
      width: 200px;
    }

    .thumbnail {
      object-fit: cover;
      /* この一行を追加するだけ！ */
    }


    .hidetitle {
      width: 200px;
      text-overflow: initial;
    }
  </style>






</main>
{% endblock %}