{% extends 'question_v2/base.html' %}

{% block "main_block" %}
{% include "question_v2/header.html" %}
<main>
        <!-- Slider Area Start-->
        <div class="slider-area slider-bg ">
          <!-- Single Slider -->
          <div class="single-slider d-flex align-items-center slider-height1">
              <div class="container">
                  <div class="row align-items-center justify-content-center">
                      <div class="col-xl-8 col-lg-9 col-md-12 ">
                          <div class="hero__caption hero__caption3 text-center">
                              <h1 data-animation="fadeInLeft" data-delay=".6s "><br><br></h1>
                              <br>
                          </div>
                      </div>
                  </div>
              </div>
          </div>    
          <!-- Slider Shape -->
          <div class="slider-shape d-none d-lg-block">
              <img class="slider-shape1" src="/static/question_v2/assets/img/hero/top-left-shape.png" alt="">
          </div>
      </div>


  <!--? Blog Area Start -->
  <section class="blog_area single-post-area section-padding">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 posts-list">

          <div class="single-post">
            <div class="blog_details">
              <h2 style="color: #2d2d2d;">
                {{ error_message_param.title }}
              </h2>
              <ul class="blog-info-link mt-3 mb-4">
                <li><a href="#"><i class="fa fa-user"></i> anyone </a></li>
                <li><a href="#"><i class="fa fa-comments"></i> 03 Comments</a></li>
              </ul>
              <div class="quote-wrapper" style="border-radius: 10px;">
                <div class="quotes">
                  {{ error_message_param.description }}
                </div>
              </div>

              {% if error_message_param.code != "" %}
              <pre><code style="margin: 0.1%; border-radius: 10px;">
{{ error_message_param.code }}
              </code></pre>
              {% endif %}
              {% if error_message_param.supplement != "" %}
              <p class="excert" style="white-space: pre-wrap;">
{{ error_message_param.supplement }}
              </p>
              {% endif %}
              <p class="excert" style="white-space: pre-wrap;">
              </p>
            </div>
          </div>
          <!---
          <div class="blog-author">
            <div class="media align-items-center">
              <img src="/static/question_v2/assets/img/blog/author.png" alt="">
              <div class="media-body">
                <a href="#">
                  <h4>Harvard milan</h4>
                </a>
                <p>Second divided from form fish beast made. Every of seas all gathered use saying you're, he
                  our dominion twon Second divided from</p>
              </div>
            </div>
          </div>
        -->

          <div class="navigation-top">

            <!--
            <div class="navigation-area">
              <div class="row">
                <div class="col-lg-6 col-md-6 col-12 nav-left flex-row d-flex justify-content-start align-items-center">
                  <div class="thumb">
                    <a href="#">
                      <img class="img-fluid" src="/static/question_v2/assets/img/post/preview.png" alt="">
                    </a>
                  </div>
                  <div class="arrow">
                    <a href="#">
                      <span class="lnr text-white ti-arrow-left"></span>
                    </a>
                  </div>
                  <div class="detials">
                    <p>Prev Post</p>
                    <a href="#">
                      <h4 style="color: #2d2d2d;">Space The Final Frontier</h4>
                    </a>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-12 nav-right flex-row d-flex justify-content-end align-items-center">
                  <div class="detials">
                    <p>Next Post</p>
                    <a href="#">
                      <h4 style="color: #2d2d2d;">Telescopes 101</h4>
                    </a>
                  </div>
                  <div class="arrow">
                    <a href="#">
                      <span class="lnr text-white ti-arrow-right"></span>
                    </a>
                  </div>
                  <div class="thumb">
                    <a href="#">
                      <img class="img-fluid" src="/static/question_v2/assets/img/post/next.png" alt="">
                    </a>
                  </div>
                </div>
              </div>
            </div>
            -->
          </div>

          {% for answer in answer_code_param %}
          <div class="single-post">
            <div class="blog_details">
              <h2 style="color: #2d2d2d;">
                answer : {{ answer.title }}
              </h2>

              {% if answer.code != "" %}
              <pre><code style="margin: 0.1%; border-radius: 10px;">
{{ answer.code }}
              </code></pre>
              {% endif %}

              <p class="excert" style="white-space: pre-wrap;">
{{ answer.supplement }}
              </p>
            </div>
          </div>
          {% endfor %}

          <!--
          <div class="comments-area">
            <h4>05 Comments</h4>
            <div class="comment-list">
              <div class="single-comment justify-content-between d-flex">
                <div class="user justify-content-between d-flex">
                  <div class="thumb">
                    <img src="/static/question_v2/assets/img/blog/comment_1.png" alt="">
                  </div>
                  <div class="desc">
                    <p class="comment">
                      Multiply sea night grass fourth day sea lesser rule open subdue female fill which them
                      Blessed, give fill lesser bearing multiply sea night grass fourth day sea lesser
                    </p>
                    <div class="d-flex justify-content-between">
                      <div class="d-flex align-items-center">
                        <h5>
                          <a href="#">Emilly Blunt</a>
                        </h5>
                        <p class="date">December 4, 2017 at 3:12 pm </p>
                      </div>
                      <div class="reply-btn">
                        <a href="#" class="btn-reply text-uppercase">reply</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="comment-list">
              <div class="single-comment justify-content-between d-flex">
                <div class="user justify-content-between d-flex">
                  <div class="thumb">
                    <img src="/static/question_v2/assets/img/blog/comment_2.png" alt="">
                  </div>
                  <div class="desc">
                    <p class="comment">
                      Multiply sea night grass fourth day sea lesser rule open subdue female fill which them
                      Blessed, give fill lesser bearing multiply sea night grass fourth day sea lesser
                    </p>
                    <div class="d-flex justify-content-between">
                      <div class="d-flex align-items-center">
                        <h5>
                          <a href="#">Emilly Blunt</a>
                        </h5>
                        <p class="date">December 4, 2017 at 3:12 pm </p>
                      </div>
                      <div class="reply-btn">
                        <a href="#" class="btn-reply text-uppercase">reply</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="comment-list">
              <div class="single-comment justify-content-between d-flex">
                <div class="user justify-content-between d-flex">
                  <div class="thumb">
                    <img src="/static/question_v2/assets/img/blog/comment_3.png" alt="">
                  </div>
                  <div class="desc">
                    <p class="comment">
                      Multiply sea night grass fourth day sea lesser rule open subdue female fill which them
                      Blessed, give fill lesser bearing multiply sea night grass fourth day sea lesser
                    </p>
                    <div class="d-flex justify-content-between">
                      <div class="d-flex align-items-center">
                        <h5>
                          <a href="#">Emilly Blunt</a>
                        </h5>
                        <p class="date">December 4, 2017 at 3:12 pm </p>
                      </div>
                      <div class="reply-btn">
                        <a href="#" class="btn-reply text-uppercase">reply</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        -->

          <div class="comment-form">
            <h4>解決する！</h4>
            <form class="form-contact comment_form" method="POST" action="" id="commentForm">
              {% csrf_token %}
              <div class="row">
                <div class="col-12">
                  <div class="form-group">
                    <input class="form-control" name="title" id="title" type="text" placeholder="*Title">
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-group">
                    <textarea class="form-control w-100" name="code" id="code" cols="30" rows="9"
                      placeholder="*Paste Code"></textarea>
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-group">
                    <code>
                    <textarea class="form-control w-100" name="supplement" id="supplement" cols="30" rows="3"
                      placeholder="Advice"></textarea>
                    </code>
                  </div>
                </div>
                <input name="answer_new_page" id="answer_new_page" value="True" type="hidden">
              </div>
              <div class="form-group">
                <button type="submit" class="button button-contactForm btn_1 boxed-btn">Post Comment</button>
              </div>
            </form>
          </div>
        </div>

        {% include 'question_v2/sidebar.html' %}

      </div>
    </div>
  </section>
  <!-- Blog Area End -->
</main>
{% endblock %}