{% extends 'fanstatic/dashboard/base/base.html' %}


{% block mainblock %}



<!-- Content Wrapper -->
<div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->
    <div id="content">


        {% include 'fanstatic/dashboard/base/topbar.html' %}



        <!-- Begin Page Content -->
        <div class="container-fluid">

            <!-- Page Heading -->
            <h1 class="h3 mb-2 text-gray-800">{{ htmlname }}</h1>
            <p class="mb-4">
                {{ description }}
            </p>

            <!-- Content Row -->
            <div class="row">

                <div class="col-xl-8 col-lg-7">

                    {% include 'fanstatic/dashboard/parts/area-acountyear.html' %}

                    <!-- Bar Chart -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">フォロー数</h6>
                        </div>
                        <div class="card-body">
                            <div class="chart-bar">
                                <canvas id="myBarChart"></canvas>
                            </div>
                            <hr>
                            フォロー数のグラフです。
                        </div>
                    </div>

                    <!-- Bar Chart -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">フォロワー数</h6>
                        </div>
                        <div class="card-body">
                            <div class="chart-bar">
                                <canvas id="myFollowerBarChart"></canvas>
                            </div>
                            <hr>
                            フォロワー数と求心力には一定の相関があるはずです。
                        </div>
                    </div>



                </div>
                <!-- Donut Chart -->
                <div class="col-xl-4 col-lg-5">
                    {% include 'fanstatic/dashboard/parts/pie-fanrate.html' %}
                </div>

                <!-- Donut Chart -->
                <div class="col-xl-4 col-lg-5">
                    {% include 'fanstatic/dashboard/parts/pie-want.html' %}
                </div>

            </div>

        </div>
        <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->



    {% endblock %}



    {% block scriptblock %}


    <script>
        url = "https://raw.githubusercontent.com/kawadasatoshi/{{ repo }}/main/{{ htmlname }}"

        htmlname = "{{ htmlname }}"
        console.log("here")
        var jsonDate = []

        var nico_word_cloud = []
        $.getJSON(url, (data) => {
            jsonDate = data.tweet_list
            nico_word_cloud = data.nico_word_cloud
            console.log(data)
            userData = []
            retweetData = []
            console.log("here2")
            name_list = []
            friends_count_list = new Array();
            followers_count_list = new Array();
            damy_list = []

            create_year_list = []

            mother_num = 0
            interest_fun_num = 0
            want_num = 0
            for (var row in jsonDate) {
                mother_num++;
                damy_list.push(".")
                userData.push(jsonDate[row].user)
                user = jsonDate[row].user
                console.log(user)
                name_list.push(user.name)
                friends_count_list.push(user.friends_count)
                followers_count_list.push(user.followers_count)

                if (user.description.match(htmlname)) {
                    interest_fun_num++;
                }
                if (jsonDate[row].text.match("欲")){
                    want_num++;
                }
                create_year_list.push(user.created_at.substring(25, 30))
            }
            console.log(name_list)
            friends_count_list.sort(function (first, second) {
                if (first > second) {
                    return 1;
                } else if (first < second) {
                    return -1;
                } else {
                    return 0;
                }
            });

            followers_count_list.sort(function (first, second) {
                if (first > second) {
                    return 1;
                } else if (first < second) {
                    return -1;
                } else {
                    return 0;
                }
            });

            create_year_list.sort(function (first, second) {
                if (first > second) {
                    return 1;
                } else if (first < second) {
                    return -1;
                } else {
                    return 0;
                }
            });

            non_dub_year_list = Array.from(new Set(create_year_list))
            year_count_list = []
            for (var i in non_dub_year_list) {
                year1 = non_dub_year_list[i]
                count = 0
                for (var j in create_year_list) {
                    year2 = create_year_list[j]
                    if (year1 == year2) {
                        count++;
                    }
                }
                year_count_list.push(count);
            }

            //friends_count_list = friends_count_list.reverse();
            console.log("frends_count_list", friends_count_list)

            applyPieChart("myInterestPieChart", ["熱狂的", "普通"], [interest_fun_num, mother_num - interest_fun_num], ['#4e73df', '#1cc88a'], ['#2e59d9', '#17a673'])
            applyPieChart("myWantPieChart", ["「欲」が入っている", "入ってない"], [want_num, mother_num - want_num], ['#4e73df', '#1cc88a'], ['#2e59d9', '#17a673'])
            applyBarChart("myFollowerBarChart", damy_list, followers_count_list, "人", "フォロワー数")
            applyBarChart("myBarChart", damy_list, friends_count_list, "人", "フォロー数")
            applyAreaChart("myAcountYearAreaChart", non_dub_year_list, year_count_list, "アカウント誕生年", "人")

            
        })
    </script>





    {% endblock %}