{% extends 'parts/normalflame.html' %}

{% block headerblock %}
{% endblock %}



{% block bodyblock %}



<body>
    {% include 'apologagent/header.html' %} 
    <main role="main">
        <article id="webslides">
            <section>
                <div class="wrap">
                    <div class="content-center">
                        <p>サンプル反省書🙇‍♂️</p>
                        <small>()以外のパーツも取り換え可能です。</small>
                        <pre>
{{ sample }}
            </pre>
                        <br>
                        <p>
                            <a href="#slide=2">謝罪文を作る</a>
                        </p>
                    </div>
                </div>
            </section>


            {% for item in transition %}
            <section>
                <div class="wrap">
                    <div class="content-center">
                        <h3>
                            Q{{ item.process }}<small>/{{ volume }}</small>
                        </h3>
                        <p>{{ item.title }}</p>
                        <small>{{ item.supp }}</small>

                        <form method="POST" action="{{ item.next }}">
                            {% csrf_token %}
                            {{ item.preface }}
                            <pre><input name="value" type="text" placeholder="{{ item.example }}" value="{{ item.value }}" ></input></pre>
                            <br>
                            {{ item.afterword }}
                            <br>
                            <br>
                            <input type="hidden" name="process" value="{{ item.process }}">
                            <input type="submit" name="{{ item.name }}" style="margin-left: 40%; width: 20%;" value="次へ">
                        </form>
                        <br>
                    </div>
                    <!-- end .content-left -->
                </div>
                <!-- .end .wrap -->
            </section>
            {% endfor %}


            　
            <section>
                <div class="wrap">
                    <div class="content-center">
                        <p>反省書🙇‍♂️</p>
                        <small></small>
                        <pre>{{ sentense }}
            </pre>
                        <br>
                        健闘を祈ります👍
                    </div>
                </div>
            </section>

        </article>
    </main>
    <!--main-->

    <script>


    </script>

    <style>
        input {
            box-shadow: none;
            border: none;
        }
    </style>




    {% include 'parts/js/slide.html' %}
</body>


{% endblock %}