<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="https://raw.githubusercontent.com/kawadasatoshi/minegishirei/main/img/beaver.png">
    <title>{{ title }}</title>
    <!-- Bootstrap core CSS -->
    <link href="/static/techblog_ver2/assets/css/bootstrap.min.css" rel="stylesheet">
    <!-- Fonts -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/static/techblog_ver2/assets/css/mediumish.css" rel="stylesheet">



    {% include "parts/seo.html" %}
    {% include "parts/favicon.html" %}
    {% include "parts/analytics.html" %}




    <!-- TWITTER -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@se_maintain">
    <meta name="twitter:creator" content="@se_maintain">
    <meta name="twitter:title" content="{{ title }}">
    <meta name="twitter:description" content="{{ description }}">
    <meta name="twitter:image" content="{{ img }}">
</head>