<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/webslides.css" />
    <link rel="stylesheet" href="/static/css/style.css" />
    <title>Nitro</title>
</head>

<body>
    <main role="main">
        <article id="webslides" class="vertical">
            <!-- Slide 1:Intro -->
            <section class="slide-bottom bg-primary">
                <span class="background-center" style="background-image:url('/static/images/nitro-sell.svg')"></span>
                <div class="wrap fadeInCenter">
                    <div class="content-left">
                        <h1>Matthew Byrne</h1>
                        <p>A presentation for Nitro Sell! Arrow down for more!</p>
                    </div>
                </div>
                <!-- .end .wrap -->
            </section>

            <!-- Slide 2 -->
            <section class="aligncenter">
                <div class="wrap fadeInUp">
                    <ul class="flexblock gallery">
                        <li>
                            <a href="#" title="">
                                <figure>
                                    <img alt="" src="/static/images/me.jpeg" />
                                    <figcaption>
                                        <h2>Bio and Background</h2>
                                        <p>A little look at myself, my accomplishments, and a few fun facts thrown in for good measure!</p>
                                    </figcaption>
                                </figure>
                            </a>
                        </li>
                        <li>
                            <a href="#" title="">
                                <figure>
                                    <img alt="" src="/static/images/drconnect.gif" />
                                    <figcaption>
                                        <h2>Material (Past and Present)</h2>
                                        <p>Design process, the concepts, the elements used and the directions taken in projects past and present.
                                        </p>
                                    </figcaption>
                                </figure>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- .end .wrap -->
            </section>

            <!-- Slide 3 -->
            <section>
                <div class="wrap">
                    <h3>Educational</h3>
                    <p>
                        From this persepctive I have put my hand in a number of areas. <br> Currently I am a student returning to college to get my personal aim of a Level 8 course and potentially a masters in the future!
                        <br />
                    </p>
                    <ul class="flexblock activity">
                        <li>
                            <a href="#" title="">
                                <div>
                                    <p class="year">
                                        2017-Present
                                    </p>
                                    <p class="title">
                                        National College of Ireland
                                    </p>
                                    <p class="summary">
                                        Modules include: <br />
                                        Web Design / Computer Architecture / Digital Multimedia /
                                        Web Application Development <br>
                                        Also for 2020 Hot Press Brand Ambassador for NCI
                                    </p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#" title="">
                                <p class="year">
                                    2012
                                </p>
                                <p class="title">
                                    3D Game Design
                                </p>
                                <p class="summary">
                                    Developed a game in major project entitled "Barrellroll". Was created using Blender for rigging, Maya and Adobe Suite!
                                </p>
                            </a>
                        </li>
                        <li>
                            <a href="#" title="">
                                <p class="year">
                                    2008
                                </p>
                                <p class="title">
                                    Computer Programming
                                </p>
                                <p class="summary">
                                    My first start! A bit of authoring and of course a commmunications module to boot. <br>
                                    More be a "entrepreneur in the future" style course.
                                    <br />
                                    It even had Dreamweaver, yes Dreamweaver!
                                </p>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- .end .wrap -->
            </section>

            <!-- Slide 4 -->
            <section>
                <div class="wrap">
                    <h3>Working Life!</h3>
                    <p>
                        The majority of my time was spent working and interacting with
                        people on a daily basis. <br />
                        A barman at the start, leading onto bigger and better pastures!
                    </p>
                    <ul class="work">
                        <li class="work-label">
                            <p class="work-title">Position</p>
                            <p class="work-client">Employer</p>
                            <p class="work-services">Roles</p>
                            <p class="work-date">Year</p>
                        </li>
                        <li>
                            <a href="#" rel="external">
                                <p class="work-title"><span>Barstaff</span></p>
                                <p class="work-client"><span>Old County Bar</span></p>
                                <p class="work-services">
                                    <span>Bingo, Karaoke entertaining the masses, and pulling the odd pint now and then.</span>
                                </p>
                                <p class="work-date"><span>2008-2014</span></p>
                            </a>
                        </li>
                        <li>
                            <a href="#" rel="external">
                                <p class="work-title"><span>Team Leader</span></p>
                                <p class="work-client"><span>J.D Wetherspoons</span></p>
                                <p class="work-services">
                                    <span>Opened the first Wetherspoons in Ireland to a team of sixty people.
                                        It even included 3 months training in a hotel out in Blackrock.</span>
                                </p>
                                <p class="work-date"><span>2014-2016</span></p>
                            </a>
                        </li>
                        <li>
                            <a href="#" rel="external">
                                <p class="work-title"><span>Assistant Manager</span></p>
                                <p class="work-client"><span>Omniplex Cinemas</span></p>
                                <p class="work-services">
                                    <span>Changing lightbulbs from cinema projectors (which can be tricky) plus handling
                                        electrcity cuts (twice!)</span>
                                </p>
                                <p class="work-date"><span>2016-2017</span></p>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- .end .wrap -->
            </section>

            <!-- Scavenger Section -->
            <section class="bg-black slideIn">
                <div class="wrap fadeIn">
                    <h2 class="font1">Scavenger</h2>
                    <p>In 2015 me and my partner attempted to create a promotion. <br> Below are some of the visual
                        material that was created. In turn we wanted a dark and edgy aesthetic to go with the vibe of
                        the artists brought over. </p>
                    <p> As you can see I was also obssesed with the Molot font at the time! </p>
                </div>
                <ul class="flexblock fadeIn">
                    <li>
                        <a href="#">
                            <figure>
                                <img alt="Thumbnail" src="/static/images/cover2.jpg">
                            </figure>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <figure>
                                <img alt="Thumbnail " src="/static/images/cover1.png">
                            </figure>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <figure>
                                <img alt="Thumbnail" src="/static/images/cover3.jpg">
                            </figure>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <figure>
                                <img alt="Thumbnail" src="/static/images/cover5.jpg">
                            </figure>
                        </a>
                    </li>
                </ul>
                <!-- .end .wrap -->
            </section>


            <!-- Project 4: Dr Connect -->
            <section>
                <div class="wrap">
                    <h6>Project "Dr.Connect"</h6>
                    <hr>
                    <div class="grid sm">
                        <div class="column">
                            <div style="padding:100% 0 0 0;position:relative;"><iframe
                                    src="https://player.vimeo.com/video/365168279?autoplay=1&loop=1"
                                    style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0"
                                    allow="autoplay; fullscreen" allowfullscreen></iframe></div>
                            <script src="https://player.vimeo.com/api/player.js"></script>
                        </div>
                        <class class="column">
                            <h5>Concept (Problems)</h5>
                            <p>A mobile booking medical app that let's you view bookings and schedule appointments. <br> To create a medical application that had the feel and approach of a tool not just taking all of your important medical information away! (vital)</p>
                            <h5>Roles Played (Impact)</h5>
                            <p>Creating a layout and a mix of colors with Creative Common logos to represent patient, doctor, schedule and appointment.</p>
                            <h5>Tools Used</h5>
                            <p>Java, and mainly inside Android Studio for mobile development along with Adobe Suite for imagery adjustments and color changes. Firebase on the backend for data for sign-up and login access.</p>
                            <hr>
                        </class>
                        <ul class="flexblock steps">
                            <!-- li>a? Add blink = <ul class="flexblock steps blink">-->
                            <li>
                                <h3>Objectives</h3>
                                <p>Creating a medical style application (Medical Card system with NFC)</p>
                            </li>
                            <li>
                                <div class="process step-2"></div>
                                <h3>Research</h3>
                                <p>There was a similar tool on another international market not in Europe but was cluttered with information that was excess.</p>
                            </li>
                            <li>
                                <div class="process step-3"></div>
                                <h3>Principles</h3>
                                <p>Safety and Integrity with GDPR compliance. Extensive research in business report (E.U)</p>
                            </li>
                            <li>
                                <div class="process step-4"></div>
                                <h3>Results</h3>
                                <ul>
                                    <li>Easy of Use</li>
                                    <li>Minimalistic</li>
                                    <li>Approachable</li>
                                    <li>Safe</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <!--end .grid -->
                </div>
                <!-- .end .wrap -->
            </section>


            <!-- Project 5: Canine Carnage -->
            <section>
                <div class="wrap">
                    <h6>Project "Canine Carnage"</h6>
                    <hr>
                    <div class="grid sm">
                        <div class="column">
                            <div style="padding:75% 0 0 0;position:relative;"><iframe
                                    src="https://player.vimeo.com/video/361549795?autoplay=1&loop=1"
                                    style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0"
                                    allow="autoplay; fullscreen" allowfullscreen></iframe></div>
                            <script src="https://player.vimeo.com/api/player.js"></script>
                        </div>
                        <div class="column">
                            <h5>Concept (Problems)</h5>
                            <p>A animation style sequence of a dog and a lone driver on the road. No subplots. <br> To create a clip that was fun and engaging for the viewer while holding their attention. To bring people into the slapstick world.</p>
                            <h5>Roles Played (Impact)</h5>
                            <p>The visual styling and plot of the story, the reveal of the secondary character and his interaction with the first. The direction of the story and what we can or cant't do.(from a technical standpoint)</p>
                            <h5>Tools Used</h5>
                            <p>Adobe Animate and Suite for the design phase, along with keyframe interactions. Sound effects also added in Audacity.</p>
                            <hr>
                        </div>
                        <ul class="flexblock steps">
                            <!-- li>a? Add blink = <ul class="flexblock steps blink">-->
                            <li>
                                <h3>User Flow</h3>
                                <p>To witness a person in his car along a desert highway come across a dog where he may have ran into but only to avoided and run side by side with the vehicle.</p>
                            </li>
                            <li>
                                <div class="process step-2"></div>
                                <h3>Research and Background</h3>
                                <p>Retro and Vapowave style elements that were used in other forms of clips like "Kung Fury" and music such as David Hasselhoff's True Survivor</p>
                            </li>
                            <li>
                                <div class="process step-3"></div>
                                <h3>Drawbacks</h3>
                                <p>Time allocation of the clip with the project. Using the two minutes of time allocated to the best we have.</p>
                            </li>
                            <li>
                                <div class="process step-4"></div>
                                <h3>End Results</h3>
                                <ul>
                                    <li>Bizarre</li>
                                    <li>Different</li>
                                    <li>Suspense</li>
                                    <li>Fun</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <!--end .grid -->
                </div>
                <!-- .end .wrap -->
            </section>

            <!-- Project 6: Django Project -->
            <section>
                <div class="wrap">
                    <h6>"Area Agency" Django Development</h6>
                    <hr>
                    <div class="grid lg">
                        <div class="column">
                            <img src="/static/images/area-agency.gif" class="img-agency" alt="">
                        </div>
                      <div class="column">
                            <h5>Concept (Problems)</h5>
                            <p>A music agency booking service that let's users enquire acts (email notification) along with administrator access for artist / agent listing. <br> To take a music agency style site and give it a more "login" user approach for active promoters which is rarely seen in the industry.</p>
                            <h5>Roles Played (Impact)</h5>
                            <p>Solo project inspired from previous promotional work. Logo design created.</p>
                            <h5>Tools Used</h5>
                            <p>Python3 with a VENV, Model View Controller backend data connected to Postgres. <br> Coded and compiled in Python3, Bootstrap4 for UI. </p>
                        </div>
                        <ul class="flexblock steps">
                            <li>
                                <h3>User Journey</h3>
                                <p>To have a user log on, search, enquire and book a musical act which then gets logged to the admin area and simultaneously gets confirmation of this to the user. <br> Also a dashboard with bookings made.</p>
                            </li>
                            <li>
                                <div class="process step-2"></div>
                                <h3>Research and Background</h3>
                                <p>Dealing with previous agent websites in the past such as Earth Agency which have a minimal and purely white style aesthetic. Observed this and realised I needed to be different.</p>
                            </li>
                            <li>
                                <div class="process step-3"></div>
                                <h3>Principles</h3>
                                <p>To have a more user friendly approach that can be more accomoadating towards newer promoters espeically. A core aim when building the project.</p>
                            </li>
                            <li>
                                <div class="process step-4"></div>
                                <h3>End Results</h3>
                                <ul>
                                    <li>Informative</li>
                                    <li>Feature-Rich</li>
                                    <li>Accessibility</li>
                                    <li>Easy</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <!--end .grid -->
                </div>
                <!-- .end .wrap -->
            </section>

            <!-- Slide:End -->
            <section class="slide-bottom bg-primary">
                <span class="background-center" style="background-image:url('/static/images/nitro-sell.svg')"></span>
                <div class="wrap fadeInUp">
                    <div class="content-left">
                        <h1>Thanks!</h1>
                        <p>This presentation was made using WebSlides. <br> A project within a presentation!</p>
                        <a href="https://github.com/matthewlukebyrne"> For More!</a>
                    </div>
                </div>
                <!-- .end .wrap -->
            </section>

        </article>
    </main>

    <script src="js/webslides.js"></script>
    <script>
        window.ws = new WebSlides();
    </script>
</body>

</html>